<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="template(items)" class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <!--/*@thymesVar id="items" type="java.util.List<com.damiannguyen.blog.menu.MenuDto>"*/-->
            <!--/*@thymesVar id="item" type="com.damiannguyen.blog.menu.MenuDto"*/-->
            <a th:each=" item : ${items}" class="p-2 text-muted" th:text="${item.name}" href="#"></a>
        </nav>
    </div>
</html>